<html>
	<head>
		{% if title %}
			<title>{{title}}</title>
		{% else %}
			<title> Flask Music</title>
		{% endif %}
	</head>
	<body>
		
		<div style="background-color:lightblue;font-weight:bold;font-size:20px">
		{% if current_user.is_authenticated %}
		<ul>
			<li style="display:inline"><a href="{{url_for('user')}}">Home</a></li>
			<li style="display:inline;float:right;margin-right:40px"><a href="{{url_for('logout')}}" >Logout</a></li>
		</ul>
		{% else %}
		<ul>
			<li style="display:inline"><a href="{{url_for('home')}}">Home</a></li>
		</ul>
		{% endif %}
		</div>
	
		<div>
		{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div style="background-color:yellow;margin-top:20px;">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
        {% endwith %}
		</div>
		<div style="margin-top: 30px;margin-left:40px;margin-right:40px">
		{% block content %}{% endblock %}
		</div>
		
	</body>
</html>